<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Quick links</h5>
                <ul class="fa-ul">
                    <li><a href="about"><i class="fa fa-li fa-id-card-o"></i> Committee</a>
                    </li>
                    <li><a href="contact"><i class="fa fa-li fa-paper-plane-o"></i> Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col">
            </div>

            <div id="sponsor-area" class="col">
                <h5>Apoio</h5>
                <div class="d-flex align-items-center justify-content-start">
                    <a class="pr-2" href="https://www.cgd.pt">
                        <img class="" style="width:150px"
                            src="assets/images/logo-cgd.jpg" />
                    </a>
                    <a class="p-2" href="https://www.srcf.net/"><img
                            src="https://www.srcf.net/images/poweredby-light.svg"
                            alt="Powered by the Student-Run Computing Facility (SRCF)"></a>
                </div>
            </div>
        </div>
        <hr class="my-3">
        <p style="color: white" class="mb-0 text-center">Cambridge University Portuguese Society &copy;
            {{ site.time | date: '%Y' }} <a href="https://github.com/matiasilva/cupor-web"><i
                    class="ml-2 fa fa-github"></i></a></p>
    </div>
</footer>