<nav class="shadow-sm navbar navbar-expand-md navbar-light bg-green py-0">
    <div class="container-lg">
    <a class="navbar-brand" href="/">
        <!-- <img style="color:rgb(89,24,54)" src="assets/images/path817.png" width="40" height="40" class="d-inline-block align-top" alt=""/> -->
        CUPor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item {% if page.name == 'index.html' %}active{% endif %}">
                <a class="nav-link" href="/"><i class="fa fa-home mr-1"></i>Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown {% if site.nav_dropdowns contains page.name %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-info mr-1"></i> Society
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="about">About</a>
                    <a class="dropdown-item" href="committee">Committee</a>
                    <a class="dropdown-item" href="constitution">Constitution</a>
                </div>
            </li>
            <li class="nav-item {% if page.name == 'contact.html' %}active{% endif %}">
                <a class="nav-link" href="contact"><i class="fa fa-fw fa-envelope-open-o mr-1"></i>Connect with us</a>
            </li>
            <li class="nav-item {% if page.name == 'events.html' %}active{% endif %}">
                <a class="nav-link" href="events"><i class="fa fa-fw fa-calendar-o mr-1"></i>Events</a>
            </li>
        </ul>
        </div>
    </div>
</nav>