{{ define "main" }}

<div class="container my-4">

    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Join our mailing list</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">We post events and useful information to our mailing list. This is the primary
                        way to stay in touch with everything about CUPor.</p>
                    <p class="card-text"><a href="https://lists.cam.ac.uk/sympa/subscribe/soc-cupor?previous_action=info">Click here to sign up to our Mailing list!</a></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Stay in touch on social media</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">We also post events on Facebook so you can more easily track them and show your
                        interest. Our Facebook group provides an open forum for discussion.</p>
                    <ul class="fa-ul mb-0">
                        <li><i class="fa fa-li fa-facebook-official"></i><a
                                href="https://www.facebook.com/CUPorOficial"></i> Facebook page</a>
                        </li>
                        <li><i class="fa fa-li fa-facebook-official"></i><a
                                href="https://www.facebook.com/groups/2461040017527390"></i>Facebook group</a>
                        </li>
                        <li>
                            <i class="fa fa-li fa-whatsapp"></i><a href="https://chat.whatsapp.com/GXf9ZlIfvSv5aPMn5JoyYb
                                "></i>WhatsApp group</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}