<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Quick links</h5>
                <ul class="fa-ul">
                    <li><a href="committee"><i class="far fa-li fa-id-card"></i> Committee</a>
                    </li>
                    <li><a href="contact"><i class="far fa-li fa-paper-plane"></i> Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col">
            </div>

            <div id="sponsor-area" class="col">
                <h5>Apoio</h5>
                <div class="d-flex align-items-center justify-content-start">
                    <a class="pr-2" href="https://www.cgd.pt">
                        <img class="" style="width:150px"
                            src="{{ .Site.BaseURL}}/images/logo-cgd.jpg" />
                    </a>
                    <a class="p-2" href="https://www.srcf.net/"><img
                            src="https://www.srcf.net/images/poweredby-light.svg"
                            alt="Powered by the Student-Run Computing Facility (SRCF)"></a>
                </div>
            </div>
        </div>
        <hr class="my-3">
        <p  class="mb-0 text-center text-muted">Cambridge University Portuguese Society &copy;
            {{ now.Format "2006"}} | Made with<i class="ms-2 fas fa-heart"></i> by <a href="https://github.com/matiasilva/cupor-web">@matiasilva</a> | Logo artwork by <a href="https://instagram.com/sofiapereirapaz">@sofiapereirapaz</a></p>
    </div>
</footer>