<header>
  <nav class="shadow-sm navbar navbar-expand-md navbar-light bg-green py-0">
    <div class="container">
      <a class="navbar-brand" style="color: rgb(89, 24, 54)" href="/">
        <!-- <img style="color:rgb(89,24,54)" src="assets/images/path817.png" width="40" height="40" class="d-inline-block align-top" alt=""/> -->
        CUPor</a
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {{ $cpage := . }}
        <ul class="navbar-nav ms-auto">
          {{ range .Site.Menus.main }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle {{ if $.Page.HasMenuCurrent "main" . }}active{{ end }}"
            href="#"
            data-bs-toggle="dropdown"
          >
            {{.Pre}} {{.Name}}
          </a>
          <div class="dropdown-menu">
            {{ range .Children }}
            <a class="dropdown-item" href="{{.URL}}">{{ .Pre }}{{.Name}}</a>
            {{ end }}
          </div>
        </li>
          {{ else }}
          <li
          class="nav-item"
        >
          <a class="nav-link {{ if $cpage.IsMenuCurrent "main" . }}active{{ end }}" href="{{.URL}}">{{.Pre}}{{.Name}}</a>
        </li>
          {{ end }}
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>
</header>
