<div class="col-md-6 col-lg-4 col-xl-3">
    <div class="card shadow-sm my-2">
        <h5 class="card-header">{{include.position}}</h5>
        <img class="mt-3 img-thumbnail d-block rounded-circle cupor-profile" src="{{include.imgsrc}}" />
        <div class="card-body">
            <h5>{{include.name}}</h5>
            {% assign desc_para = include.description | newline_to_br | strip_newlines | split: '<br />' %}
            {% for para in desc_para %}
            <p class="card-text">{{para}}</p>
            {% endfor %}
            <p class="card-text">{{include.home}}</p>
            <h6>
                <i class="fa fa-file-text-o mr-2"></i>Manifestos
            </h6>
            <ul>
                {% if include.manifesto-alt %}
                <li>
                    <a href="assets/{{include.manifesto}}">Portuguese</a>
                </li>
                <li>
                    <a href="assets/{{include.manifesto-alt}}">English</a>
                </li>
                {% else %}
                <li>
                    <a href="assets/{{include.manifesto}}">Portuguese & English</a>
                </li>
                {% endif %}
            </ul>
            <h6>
                <i class="fa fa-paper-plane-o mr-2"></i>Email: <a href="mailto:cupor-{{include.emailforward}}@srcf.net">cupor-{{include.emailforward}}@srcf.net</a>
            </h6>
        </div>
    </div>
</div>