<div class="col-md-4">
    <div class="card shadow-sm my-2">
        {% if include.imgsrc %}
        <img class="card-img-top img-fluid" style="object-fit: contain; max-height: 225px;" src="{{include.imgsrc}}"/>
        {% endif %}
        <div class="card-body">
            {% assign desc_para = include.description | newline_to_br | strip_newlines | split: '<br />' %}
            {% for para in desc_para %}
            <p class="card-text">{{para}}</p>
            {% endfor %}
            {% if button %}
            <a class="btn btn-secondary bg-red" role="button" href="{{include.buttonhref}}">{{include.button}} &raquo;</a>
            {% endif %}
        </div>
    </div>
</div>